name: Build Full App

on:
  workflow_dispatch:

jobs:
  flutter:
    name: Build Flutter Web
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.6"
          channel: "stable"

      - name: Build Flutter Web
        run: |
          flutter config --no-analytics
          flutter config --no-cli-animations
          cd flutter
          flutter build web --release --no-wasm-dry-run

      - name: Upload Flutter build
        uses: actions/upload-artifact@v4
        with:
          name: flutter-build
          path: flutter/build/web

  updater:
    name: Build updater
    runs-on: windows-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Build Updater
        shell: bash
        run: |
          cd updater
          cargo build -r

      - name: Upload updater
        uses: actions/upload-artifact@v4
        with:
          name: updater
          path: updater/target/release/updater.exe
  
  debug:
    name: Build Debug App
    runs-on: windows-latest
    needs: [flutter, updater]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Download Flutter build
        uses: actions/download-artifact@v4
        with:
          name: flutter-build
          path: flutter/build/web

      - name: Get Console Icons
        shell: pwsh
        run: |
          ren icons icons-release
          ren icons-console icons

      - name: Install C++ compiler
        shell: pwsh
        run: |
          choco install mingw -y
          refreshenv

      - name: Download Updater
        uses: actions/download-artifact@v4
        with:
          name: updater
          path: updater/target/release

      - name: Build Tauri app
        shell: bash
        run: |
          cargo build

      - name: Rename Files
        shell: pwsh
        run: |
          cd target/debug
          Rename-Item -Path Vice.exe -NewName Vice-debug.exe

      - name: Upload debug build
        uses: actions/upload-artifact@v4
        with:
          name: debug
          path: target/debug/Vice-debug.exe

  app:
    name: Build Tauri App
    runs-on: windows-latest
    needs: [flutter, updater]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Download Flutter build
        uses: actions/download-artifact@v4
        with:
          name: flutter-build
          path: flutter/build/web

      - name: Install C++ compiler
        shell: pwsh
        run: |
          choco install mingw -y
          refreshenv

      - name: Download Updater
        uses: actions/download-artifact@v4
        with:
          name: updater
          path: updater/target/release

      - name: Build Tauri app
        shell: bash
        run: |
          cargo build --release

      - name: Upload release build
        uses: actions/upload-artifact@v4
        with:
          name: release
          path: target/release/Vice.exe

  zip:
    name: Zip Artifacts
    runs-on: windows-latest
    needs: [app, debug]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
          
      - name: Download Debug
        uses: actions/download-artifact@v4
        with:
          name: debug
          path: temp

      - name: Download Release
        uses: actions/download-artifact@v4
        with:
          name: release
          path: temp

      - name: Package Release Zip
        shell: pwsh
        run: |
          cd temp
          Compress-Archive -Path Vice.exe, Vice-debug.exe, ../LICENSE, ../docs/Installation.md -DestinationPath windows.zip -Force

      - name: Upload final zip
        uses: actions/upload-artifact@v4
        with:
          name: full-windows
          path: temp/*.zip